/* Master */
body {
  line-height: 1.5;
  font-size: 18px;
}



/* TOP ROW */
.top-row {
  margin: 20px;
}

/* MAP ROW */
.map-row {
  
}

/* BUTTON ROW */
.button-row {
  
}

/* BOTTOM ROW */
.bottom-row {
  
}

/* BUTTON ROW AND BUTTONS */
.button-row{
  padding: 5px;
  margin: 5px;
}

#submit {
  float:left;
}

#reset {
  float: right;
}


/* Leaflet */
.leaflet-popup-content-wrapper {
  color: black;
  font-family: serif;
  font-size: 12px;
  border-radius: 0px;
  border-color: rgba(0,0,0,0.5);
  box-shadow: 3px 3px rgba(0,0,0,0.25);
}
